extends layouts/main.pug

//- block stylesheet
//- 	link(rel="stylesheet", href="/css/styles.css")

block title
	title Gulp Boilerplate Title

//- tilføjer indhold TIL block content i main.pug filen i layouts mappen
block content
	h1 Gulp Boilerplate h1